@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
body {
    margin: 0;
    width: 100%;
}
.faq-container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 20px 40px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0; /* Đặt margin-top về 0 để loại bỏ khoảng trống thừa */
}

.faq-section h1 {
    font-size: 32px;
    color: #333;
    text-align: left;
    margin-bottom: 10px;
}

.faq-section h2 {
    font-size: 24px;
    color: #666;
    text-align: left;
    margin-bottom: 10px; /* Giảm từ 50px xuống 10px để giảm khoảng trống */
}

.faq-category {
    margin-bottom: 30px;
    width: 100%; /* Đảm bảo category chiếm toàn bộ chiều rộng */
}

.faq-category h3 {
    font-size: 18px;
    color: #444;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.faq-category p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.faq-item {
    margin-bottom: 20px;
    width: 100%; /* Đảm bảo items chiếm toàn bộ chiều rộng */
}

.faq-item h4 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.faq-item p {
    color: #666;
    line-height: 1.6;
    font-size: 16px;
}

.faq-item ul {
    color: #666;
    margin-left: 20px;
    list-style-type: disc;
}

.faq-item ul li {
    margin-bottom: 5px;
    line-height: 1.5;
}

.faq-item ol li {
    margin-bottom: 5px;
    line-height: 1.5;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Responsive Design */
@media (max-width: 768px) {
    .faq-container {
        max-width: 100%;
        margin: 10px;
        padding: 10px 15px;
        border-radius: 8px;
    }

    .faq-section h1 {
        font-size: 20px;
    }

    .faq-section h2 {
        font-size: 16px;
    }

    .faq-category {
        padding: 10px;
        margin-bottom: 20px;
    }

    .faq-category h3 {
        font-size: 14px;
    }

    .faq-item {
        padding: 5px;
    }

    .faq-item h4 {
        font-size: 14px;
    }

    .faq-item p, .faq-item ul, .faq-item ol li {
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .faq-container {
        max-width: 900px;
        margin: 15px auto;
        padding: 15px 30px;
    }

    .faq-section h1 {
        font-size: 22px;
    }

    .faq-section h2 {
        font-size: 17px;
    }

    .faq-category h3 {
        font-size: 15px;
    }

    .faq-item h4 {
        font-size: 14px;
    }

    .faq-item p, .faq-item ul, .faq-item ol li {
        font-size: 12px;
    }
}
