@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* CSS chung cho toàn bộ trang web */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  overflow-x: hidden; /* tránh tràn chiều ngang */
}

body {
  display: flex;
  background-color: #F5F5F7;
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  /* background-color: #86A788; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
  min-height: 100vh;
  width: 100%;
  /* padding: 60px; */
}

.container {
  max-width: 1200px !important;
  margin: 15px auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

/* Layout chung */
.container-all {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #F5F5F7;
}

/* Grid layout */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Status colors */
.status.green { color: green; }
.status.red { color: red; }
.status.orange { color: orange; }
.status.gray { color: gray; }
.status.blue { color: blue; }

/* Background colors */
.bg-yellow { background-color: #FFFCEB; }
.bg-red { background-color: #FFE8E8; }
.bg-gray { background-color: #F3F3F5; }
.bg-green { background-color: #E4FBE9; }
.bg-blue { background-color: #EEF0FF; }
.bg-purple { background-color: #F4E9FF; } 